<div class = "table-container">
    <h1 id = "tableLabel" class="table-header">Classes</h1>
    <table class= "table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Class Name</th>
                <th>Catalog Number</th>
            </tr>
        </thead>
        <tbody>
            @for(Class of classes; track $index) {
                <tr>
                    <td><a [routerLink]="['/classCourses', Class.classId]">{{Class.classId}}</a>
                        </td>
                    <td>{{Class.cname}}</td>
                    <td>{{Class.cnum}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>